# data folder
**/Data
**/mnist

# outputs
**/mnist_masked_images
**/lstm_question_embedding


# pycache
**/__pycache__

# models
**/dqn_models
**/dqn_lstm_models
**/mnist_dqn_models
**/pretrained_guesser_models
**/pretrained_mnist_guesser_models

dqn_questionnaire_op.py
questionnaire_env_op.py
calibration.py


